{
	"root": true,
	"extends": ["react-app", "plugin:prettier/recommended", "airbnb", "plugin:jsx-a11y/recommended"],
	"plugins": ["jsx-a11y"],
	"env": {
		"node": true,
		"es6": true,
		"browser": true
	},
	"parser": "babel-eslint",
	"rules": {
		"class-methods-use-this": 0,
		"import/no-named-as-default": 0,
		"react/jsx-filename-extension": [
		  "error",
		  {
			"extensions": [".js", ".jsx"]
		  }
		]
	  }
}