.links-container,.panel { padding:0.01em 16px }

.links-container > a { 
  //text-decoration: none;
  color:#555555!important;
}

.margin-right{margin-right:16px!important}

.large{font-size:18px!important}

.text-teal,.hover-text-teal:hover{color:#009688!important}

.link-padding { padding: 5px;}